.message-received{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .2em 1rem;
}
.nickname-text{
    display: flex;
    max-width: 600px;
    overflow: hidden;
}
.message-received em{
    font-size: .9em;
}
.message-received .time{
    margin: 0 1em;
    min-width: 10em;
    font-size: .6em;
}
.nickname-text p span {
    margin-right: 1em;
}