.App{
    height: 100%;
}
 .chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--nav-color);
    margin: 1em;
}

.message-container{
    width: calc(100% - 2em);
    max-width: 600px;
}

.messages-container{
    margin: 1em;
    max-width: 600px;
}