body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --nav-color: rgb(44, 44, 179);
  --nav-color-tenue: rgba(44, 44, 179, .8);
}
a{
  color: inherit;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

input, textarea, button {
  font-family: 'Alata', sans-serif;
  font-size: .9em;
  padding: .5em;
  margin: .5em;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px var(--nav-color);
  color: var(--nav-color-tenue);
}

input::placeholder{
  color: var(--nav-color-tenue);
}
textarea::placeholder{
  color: var(--nav-color-tenue);
}

textarea {
  resize: none;
}

button, .button {
  cursor: pointer;
  color: var(--nav-color-tenue);
  transition: box-shadow .3s;
}

button:hover, .button:hover {
  color: var(--nav-color);
  box-shadow: 0 0 3px 3px var(--nav-color);
}